<div class="content-heading d-flex">
  <div class="mr-auto">
    Tipo de Nível
  </div>
  <div>
    <app-button-historico label="Auditoria" [link]="getLinkHistorico()" [desabilitar]="desabilitarHistorico()"></app-button-historico>
  </div>
</div>
<!-- START card-->
<section>
  <div class="card border-dark radius-top-only mb-0">
    <div class="card-header bg-dark text-white radius-top-only">
      <h5 class="mb-0 pb-1 pt-1">
        <i class="fas fa-table"></i>
        &nbsp;
        Tipo de Nível
      </h5>
    </div>
  </div>
  <div class="card rounded-0 border-grey">
    <div class="card-body">
      <form [formGroup]="formIncluir" novalidate>

        <!--Spinner-->
        <ngx-spinner bdColor = "rgba(245,238,238,0.8)"
                     size = "default"
                     color = "#00f2f2"
                     type = "ball-clip-rotate">
        </ngx-spinner>

        <!-- Nome -->
        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-right">Nome*</label>
          <div class="col-sm-6">
            <input class="form-control" type="text" formControlName="nmTipoDeNivel" placeholder="Digite um nome" />
          </div>
        </div>

        <!-- Abreviatura -->
        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-right">Abreviatura*</label>
          <div class="col-sm-6">
            <input class="form-control" type="text" formControlName="nmAbreviatura" placeholder="ABC, XYZ, ..." maxlength="4" />
          </div>
        </div>

        <!-- Tipo -->
        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-right">Tipo*</label>
          <div class="col-sm-6 pt-2">
            <div class="row">
              <div class="col">
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="flTipoFormal1"
                    formControlName="flTipoFormal" required [value]="true"
                    (change)="loadToAssociated()" />
                  <label class="custom-control-label" for="flTipoFormal1">Jurídico/Contábil</label>
                </div>
              </div>
              <div class="col">
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="flTipoFormal2"
                    formControlName="flTipoFormal" required [value]="false"
                    (change)="loadToAssociated()" />
                  <label class="custom-control-label" for="flTipoFormal2">RH/Administrativo</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Situacao -->
        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-right">Situação*</label>
          <div class="col-sm-6">
            <div class="d-flex pt-2">
              <label class="switch switch-lg m-0">
                <input type="checkbox" formControlName="flAtivo" />
                <span></span>
              </label>
              <div *ngIf="formIncluir.value.flAtivo" class="ml-3">Ativa</div>
              <div *ngIf="!formIncluir.value.flAtivo" class="ml-3">Inativa</div>
            </div>
          </div>
        </div>

        <!-- Pode ser incluído abaixo de -->
        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-right">Pode incluir abaixo</label>
          <div class="col-sm-6">
            <div class="card border">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3" *ngFor="let i = index; let associate of toAssociate">
                    <div class="form-check mb-1 mr-sm-1">
                      <div class="checkbox c-checkbox">
                        <label class="text-truncate">
                          <input type="checkbox" [formControlName]="associate.nmAbreviatura" />
                          <span class="fa fa-check"></span>
                          {{ associate.nmAbreviatura }}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Exige centro de custo -->
        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-right">Exige centro de custo</label>
          <div class="col-sm-6">
            <div class="d-flex pt-2">
              <label class="switch switch-lg m-0">
                <input type="checkbox" formControlName="flExigeCentroDeCusto" />
                <span></span>
              </label>
              <div *ngIf="formIncluir.value.flExigeCentroDeCusto" class="ml-3">Sim</div>
              <div *ngIf="!formIncluir.value.flExigeCentroDeCusto" class="ml-3">Não</div>
            </div>
          </div>
        </div>

        <!-- Exige centro de custo -->
        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-right">Descrição</label>
          <div class="col-sm-6">
            <textarea class="form-control" formControlName="dsTipoDeNivel" maxlength="4000" rows="3"></textarea>
          </div>
        </div>

        <div class="panel-footer text-right">
          <span class="text-danger" *ngIf="formIncluir.invalid">* Preencher todos os campos obrigatórios.</span>
        </div>
      </form>
    </div>
    <!--Botões-->
    <div class="card-footer text-muted">
      <div class="panel-footer text-right">
        <button type="button" class="btn btn-outline-primary mr-1" (click)="voltar()">
          Voltar
        </button>
        <button type="button" class="btn btn-success mr-1"
          [disabled]="formIncluir.invalid"
          (click)="salvar()">
          Salvar
        </button>
      </div>
    </div>
  </div>
</section>

<ng-template #estruturaModal let-d="dismiss" let-c="close">
  <div class="modal-header bg-dark text-white pt-3 pb-3 rounded-0">
    <h5 class="modal-title" id="modal-basic-title" class="mb-0">
      Estrutura Niveis
    </h5>
    <button type="button" class="close text-white pt-2 pb-2" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</ng-template>
