<div class="modal-header bg-dark text-white pt-3 pb-3 rounded-0">
  <h4 class="modal-title" class="mb-0">
    {{ title }}
  </h4>
  <button type="button" class="close text-white pt-2 pb-2" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="card border">
    <div class="card-body" [innerHTML]="older"></div>
  </div>
  <hr *ngIf="newer != undefined && newer != ''" />
  <div class="card border" *ngIf="newer != undefined && newer != ''">
    <div class="card-body" [innerHTML]="newer"></div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
